body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #78ac8a;
   }
.box{
    position: absolute;
    width: 100%;
    border: none;
    
    
    
    
}
fieldset{
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 12px;
}
label{
    outline: none;
}
.inputuser{
    outline: none;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 12px;
}
.button{
    width: 100%;
    padding: 12px;
    border-radius: 11px;
}
.button:hover{
            background-color: #78ac8a;
        } 
        

